/* 6. Write CSS rules that cause the header and .collage div to be centered on the page */
header {
    display: flex;
    justify-content: center;
}

.collage {
    flex-wrap: wrap;
    justify-content: center;
}

/* 7. Write CSS rules that ensure that no more than 4 photos appear on a row */
#image {
    padding: 10px;
}

:root {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}